.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.side-bar {
    position: fixed;
    width: 307px;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.list-items {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.list-item {
    display: flex;
    align-items: center;
}
.list-item {
    display: flex;
    align-items: center;
}


.active {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #003679;
}

.link {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #8A8A8A;
}

.icon-box {
    width: 36px;
    height: 36px;
    background: #F2F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.icon-box-active {
    background: #003679;
}

.icon {
    width: 20px;
    height: 20px;
}

.sign-out {
    display: flex;
    width: 50%;
    align-items: center;
    margin-top: 100px;
}

.sign-out img {
    margin-right: 50px;
}

.sign-out-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FF0000;
}


.container {
    margin-left: 307px;
    flex: 1;
    background: #F2F2F2;    
    padding: 20px 20px 100px 20px;
    height: 130%;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    text-align: right;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-transfer {
    width: 280px;
    height: 50px;
    background: #003679;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.content-left {
    width: 58% ;
}

.content-right {
    width: 40% ;
}

.account-area {
    height: 321px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0px 1px 4px rgba(186, 185, 185, 0.25);
}

.account-area-header {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #003679;
}

.account-details-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.account-details {
    width: 347px;
    height: 164px;
    background: linear-gradient(91.45deg, #003679 11.66%, #0354B8 93.2%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    line-height: 1px;
    padding: 10px 20px;
}

.account-details-right {
    text-align: right;
    margin-top: 55px;
}

.frequent-beneficiares {
    padding: 10px 20px;
}

.transaction-container {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(155, 155, 155, 0.25);
    border-radius: 5px;
    line-height: 5px;
}

.transaction-container .avatar {
    width: 50px;
    height: 50px;   
    background: #F2F2F2;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.frequent-beneficiares-header {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #003679;
}

.all-beneficiares {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #C57E37;
    text-align: right;
    cursor: pointer;
}

.transaction-history {
    height: 520px;
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(186, 185, 185, 0.25);
    padding: 10px 20px;
}

.transaction-history-actions {
    display: flex;
    justify-content: space-between;
}

.transaction-history-actions .history{
    font-weight: bold;
    font-size: 18px;
    color: #003679;
}

.transaction-history-actions .download{
    font-weight: bold;
    font-size: 14px;
    text-decoration-line: underline;   
    color: #C57E37;
}

.transactions {
    margin-top: 40px;
}

.transaction {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(155, 155, 155, 0.25);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.transaction-info {
    display: flex;
}

.transaction-info img {
    margin-right: 20px;
}

.frequent-beneficiares {
    height: 442px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(186, 185, 185, 0.25);
    border-radius: 10px;
}

.target-savings {
    height: 336px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(186, 185, 185, 0.25);
    border-radius: 10px;
    margin-top: 20px;
}




.hr-10 {
    width: 50px;
    height: 6px;
    background: rgba(197, 126, 55, 0.7);
    border-radius: 5px;
}

.p-0 {
    padding: 0
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.text-26 {
    font-size: 26px;
}

.text-16 {
    font-size: 16px;
}

.text-12 {
    font-size: 12px;
}

.text-grey {
    color: #8A8A8A;
}

.text-primary {
    color: #003679;
}

.font-bold {
    font-weight: bold;
}

.font-bold-m {
    font-weight: 600;
}